
*.pdb
graphicDesignProject/Project1/Debug/vc141.pdb
*.pdb
graphicDesignProject/Project1/Debug/vc141.pdb
graphicDesignProject/Project1/Debug/vc141.idb
graphicDesignProject/Project1/Debug/Project1.tlog/link.read.1.tlog
*.log
