# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studios Files
*.sln
/graphicDesignProject/.vs/
/graphicDesignProject/debug/
/graphicDesignProject/Project1/Debug/
CG_Art/GraphicDesignProject/.vs/VSWorkspaceState.json
CG_Art/GraphicDesignProject/.vs/slnx.sqlite
CG_Art/GraphicDesignProject/.vs/ProjectSettings.json
CG_Art/GraphicDesignProject/.vs/GraphicDesignProject/v15/Browse.VC.db
CG_Art/GraphicDesignProject/.vs/GraphicDesignProject/v15/.suo
